.start {
    text-align: center;
    font-size:60px;
    color:red;
    font-family: Impact,Charcoal,sans-serif;

}
.underline a {
    text-decoration: none;
}
.player {
    display: flex;
    background-color: black;
}
.black {
    height: 700px;
}
.butn {
    position: relative;;
    justify-content: center;
    align-items: center;
}